{
  "openapi": "3.1.0",
  "info": {
    "title": "Pingmee API",
    "description": "A complete guide to Pingmee micro service architecture.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pingmee.co.il"
    }
  ],
  "security": [
    {
      "cookieAuth": [],
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/conversation/tags": {
      "get": {
        "description": "Returns all conversation tags",
        "responses": {
          "200": {
            "description": "Conversation Tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversationTag"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new conversation tag",
        "requestBody": {
          "description": "Conversation tag to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationTag"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversation tag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationTag"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Conversation tag created",
        "responses": {
          "201": {
            "description": "Conversation tag created"
          }
        }
      }
    },
    "/conversation/tags/{id}": {
      "delete": {
        "description": "Deletes a conversation tag by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of conversation tag to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation tag deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Returns a conversation tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of conversation tag to get",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation Tag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationTag"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}/status": {
      "post": {
        "description": "Set the status of a conversation.",
        "requestBody": {
          "description": "Set the status of a conversation.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "participantsIdentifiers",
                  "status"
                ],
                "properties": {
                  "participantsIdentifiers": {
                    "type": "string",
                    "description": "Unique identifiers of the conversation participants."
                  },
                  "status": {
                    "type": "string",
                    "description": "Conversation status.",
                    "enum": [
                      "open",
                      "closed",
                      "standby"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversation status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}/answer-mode": {
      "post": {
        "description": "Set the answer mode for a conversation.",
        "requestBody": {
          "description": "Set the answer mode for a conversation.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "participantsIdentifiers",
                  "answerMode"
                ],
                "properties": {
                  "participantsIdentifiers": {
                    "type": "string",
                    "description": "Unique identifiers of the conversation participants."
                  },
                  "answerMode": {
                    "type": "string",
                    "description": "Conversation answer mode.",
                    "enum": [
                      "bot",
                      "manual",
                      "ai"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Answer mode updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}": {
      "get": {
        "description": "Get a single conversation by participants identifiers.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifiers of the conversation participants."
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}/agents": {
      "post": {
        "description": "Associate agents to a conversation.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifiers of the conversation participants.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of agent IDs to associate with the conversation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agentIds"
                ],
                "properties": {
                  "agentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Agent IDs to associate."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agents associated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Remove agents from a conversation.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique identifiers of the conversation participants.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of agent IDs to remove from the conversation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agentIds"
                ],
                "properties": {
                  "agentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Agent IDs to remove."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agents removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}/tags": {
      "get": {
        "description": "Returns the tag IDs assigned to a conversation. Path `id` is the conversation `participantsIdentifiers`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag IDs currently assigned to the conversation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Conversation tag ID"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid conversation id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Assigns one or more tags to a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationTagIdsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Missing body, path id, or invalid tagIds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Removes one or more tags from a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationTagIdsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-tag removal results; `errors` lists tag IDs that failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveConversationTagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing body, path id, or invalid tagIds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations": {
      "post": {
        "description": "Get conversations using cursor-based pagination.",
        "requestBody": {
          "description": "Provide pagination and filtering parameters to retrieve the next page of conversations.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "phoneNumberId": {
                    "type": "string",
                    "description": "Filter conversations by phone number identifier."
                  },
                  "startKey": {
                    "type": "object",
                    "description": "Key returned from a previous request. Pass this value to fetch the next page of conversations.",
                    "additionalProperties": false
                  },
                  "limit": {
                    "type": "integer",
                    "default": 25,
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Maximum number of conversations to return."
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dbObject": {
                      "type": "array",
                      "description": "List of conversations returned for this page of results.",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    },
                    "hasMoreItemsToFetch": {
                      "type": "boolean"
                    },
                    "lastEvaluatedKey": {
                      "type": "object",
                      "description": "If present, call the same endpoint again and pass this value as `startKey` to retrieve the next page of results. Pagination is cursor-based.",
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "servers": [
        {
          "url": "https://campaigns.pingmee.co.il",
          "description": "Campaigns service"
        }
      ],
      "post": {
        "description": "Returns all customers using pagination",
        "requestBody": {
          "description": "Optionally provide pagination parameters to retrieve the next page of customers.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lastEvaluatedKey": {
                    "type": "object",
                    "description": "Key returned from the previous request. Pass this value to fetch the next page of results.",
                    "additionalProperties": false
                  },
                  "limit": {
                    "type": "number",
                    "default": 25,
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Maximum number of customers to return."
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "description": "List of customers returned for this page of results.",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "hasMoreItemsToFetch": {
                      "type": "boolean"
                    },
                    "lastEvaluatedKey": {
                      "type": "object",
                      "description": "If present, call the same endpoint again and pass this value as `lastEvaluatedKey` to retrieve the next page of results. Pagination is cursor-based, not page-number based.",
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Creates new customers",
        "requestBody": {
          "description": "A list of customers to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customers created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{id}": {
      "servers": [
        {
          "url": "https://campaigns.pingmee.co.il",
          "description": "Campaigns service"
        }
      ],
      "post": {
        "summary": "Update customer",
        "description": "Updates editable customer fields. This is a partial update — only include the fields you want to change. `customerName` is not updatable here.\n\nUpdatable fields: `customerNickname`, `email`, `description`, `phoneNumber`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Phone number ID of the customer to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Fields to update. Omit fields you do not want to change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customer"
                  ],
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single customer based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Phone number ID of the customer to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Returns a Customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Phone number ID of the customer to get",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/templates/send": {
      "servers": [
        {
          "url": "https://business.pingmee.co.il",
          "description": "Send a Whatsapp Template"
        }
      ],
      "post": {
        "description": "Send a WhatsApp template message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to",
                  "type",
                  "templateId"
                ],
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "Sender phone number ID"
                  },
                  "to": {
                    "type": "string",
                    "description": "Recipient phone number"
                  },
                  "type": {
                    "type": "string",
                    "default": "template",
                    "enum": [
                      "template"
                    ]
                  },
                  "templateId": {
                    "type": "string",
                    "description": "Template identifier"
                  },
                  "templateData": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "object",
                        "properties": {
                          "parameters": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "header": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "IMAGE",
                              "VIDEO",
                              "DOCUMENT"
                            ],
                            "description": "Header media type"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers": {
      "servers": [
        {
          "url": "https://business.pingmee.co.il",
          "description": "Business phone numbers service"
        }
      ],
      "get": {
        "description": "Get business phone numbers",
        "responses": {
          "200": {
            "description": "List of phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "phoneNumbers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Phone number ID"
                          },
                          "verified_name": {
                            "type": "string",
                            "description": "Verified business name"
                          },
                          "display_phone_number": {
                            "type": "string",
                            "description": "Display phone number"
                          }
                        },
                        "required": [
                          "id",
                          "verified_name",
                          "display_phone_number"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "phoneNumbers"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "description": "Get WhatsApp templates for a specific phone number",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "whatsapp"
              ]
            },
            "description": "Template platform type"
          },
          {
            "name": "phoneNumberId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Phone number ID to fetch templates for"
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Template ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Template name"
                      }
                    },
                    "required": [
                      "id",
                      "name"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sendMessage": {
      "post": {
        "description": "Send a message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sender",
                  "receiver",
                  "participantsIdentifiers",
                  "message",
                  "type",
                  "messagePlatform",
                  "initiator"
                ],
                "properties": {
                  "sender": {
                    "type": "string",
                    "description": "Sender identifier"
                  },
                  "receiver": {
                    "type": "string",
                    "description": "Receiver identifier"
                  },
                  "participantsIdentifiers": {
                    "type": "string",
                    "description": "Conversation participants identifiers"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message content"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "default"
                    ],
                    "default": "default"
                  },
                  "initiator": {
                    "type": "string",
                    "enum": [
                      "person"
                    ],
                    "default": "person"
                  },
                  "messagePlatform": {
                    "type": "string",
                    "enum": [
                      "instagram",
                      "facebookMessenger",
                      "whatsapp"
                    ],
                    "default": "whatsapp",
                    "description": "Messaging platform"
                  },
                  "context": {
                    "type": "object",
                    "description": "Reply to an existing WhatsApp message",
                    "properties": {
                      "from": {
                        "type": "string",
                        "description": "Original sender phone number Id"
                      },
                      "id": {
                        "type": "string",
                        "description": "Original message ID"
                      }
                    },
                    "additionalProperties": false
                  },
                  "attachmentBase64": {
                    "type": "object",
                    "description": "Base64 encoded media attachment",
                    "properties": {
                      "resourceId": {
                        "type": "string",
                        "description": "Uploaded media resource ID"
                      },
                      "fileName": {
                        "type": "string",
                        "description": "Original file name"
                      },
                      "fileMimeType": {
                        "type": "string",
                        "description": "MIME type"
                      },
                      "fileSize": {
                        "type": "number",
                        "description": "File size in bytes"
                      },
                      "fileType": {
                        "type": "string",
                        "description": "Attachment type"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message_generated_id"
                  ],
                  "properties": {
                    "message_generated_id": {
                      "type": "string",
                      "description": "Platform-generated message ID"
                    },
                    "sentMessage": {
                      "type": "object",
                      "description": "Returned only when initiator is bot or ai",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "whatsappMessageResponse": {
                          "type": "object",
                          "description": "Raw platform response",
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "message",
                        "whatsappMessageResponse"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/getMessages": {
      "post": {
        "description": "Fetches messages for a conversation identified by the business phone number and the customer (target) phone number. Results are ordered newest first. Omit `startKey` on the first request. For each following batch, set `startKey` to the `lastEvaluatedKey` value returned by the previous response.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages and pagination metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "get": {
        "description": "Returns all agents associated with the authenticated account.",
        "responses": {
          "200": {
            "description": "Agents list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserPublic"
                      }
                    }
                  },
                  "required": [
                    "agents"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "description": "Returns a single agent by ID (email).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent email identifier",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/UserPublic"
                    }
                  },
                  "required": [
                    "agent"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid agent ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ai-agents": {
      "servers": [
        {
          "url": "https://ai.pingmee.co.il",
          "description": "AI service"
        }
      ],
      "get": {
        "summary": "List AI agents",
        "description": "Returns a flat paginated list of AI agents for the authenticated business. Pass `flat=true` to skip folder grouping. Distinct from human agents under `/agents`.",
        "parameters": [
          {
            "name": "flat",
            "in": "query",
            "required": true,
            "description": "Must be `true` to return a flat agent list (no folders).",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          },
          {
            "name": "getFiles",
            "in": "query",
            "required": false,
            "description": "When `true`, loads vector store files for each agent. Defaults to omitting file contents.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 25.",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1
            }
          },
          {
            "name": "exclusiveStartKey",
            "in": "query",
            "required": false,
            "description": "URI-encoded JSON pagination cursor from a previous response `lastEvaluatedKey`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flat AI agents page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIAgentsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ai-agents/{id}": {
      "servers": [
        {
          "url": "https://ai.pingmee.co.il",
          "description": "AI service"
        }
      ],
      "get": {
        "summary": "Get AI agent",
        "description": "Returns a single AI agent by ID, including vector store files when available.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AI agent identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIAgent"
                }
              }
            }
          },
          "404": {
            "description": "AI agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update AI agent",
        "description": "Updates an AI agent. Supported fields: `name`, `description`, `roles`, and `vectorStore.required`. Changed roles regenerate their OpenAI function tools.\n\n**Field length limits** (same as the Pingmee app; exceeding them returns `400`):\n\n| Field | Max length |\n| --- | --- |\n| `description` | 5000 |\n| `roles[].name` | 40 |\n| `roles[].description` | 1500 |\n| `roles[].instructions` | 1500 |\n| `roles[].webhook` | 300 |",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AI agent identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Fields to update on the AI agent",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAIAgent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "AIAgent '123' updated successfully."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "AI agent ID missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/workflows": {
      "servers": [
        {
          "url": "https://workflows.pingmee.co.il",
          "description": "Workflows service"
        }
      ],
      "post": {
        "description": "Returns the workflow data.",
        "requestBody": {
          "description": "Request the minimal workflow dataset.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "getAllWorkflowsMinimalData"
                ],
                "properties": {
                  "getAllWorkflowsMinimalData": {
                    "type": "boolean",
                    "description": "When true, returns only the minimal workflow data required by the client cache.",
                    "default": true,
                    "example": true
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Minimal workflow list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result"
                  ],
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workflow"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{workflowId}/trigger": {
      "servers": [
        {
          "url": "https://workflows.pingmee.co.il",
          "description": "Workflows service"
        }
      ],
      "post": {
        "description": "Manually trigger a bot workflow for a conversation.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "Workflow identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Conversation, optional node to start the workflow from, and optional JSON payload for the trigger.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phoneNumberId",
                  "customerPhoneNumberId"
                ],
                "properties": {
                  "phoneNumberId": {
                    "type": "string",
                    "description": "Business phone number identifier."
                  },
                  "customerPhoneNumberId": {
                    "type": "string",
                    "description": "Customer phone number identifier."
                  },
                  "startFromNodeId": {
                    "type": "string",
                    "description": "Optional workflow node identifier to start execution from."
                  },
                  "triggerData": {
                    "type": "object",
                    "description": "Optional JSON object passed to the workflow when it is triggered.",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Workflow triggered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook": {
      "get": {
        "description": "Returns all webhooks for the authenticated account.",
        "security": [
          {
            "bearerAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new webhook subscription.",
        "security": [
          {
            "bearerAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "event"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Callback URL to receive webhook events"
                  },
                  "event": {
                    "type": "string",
                    "description": "Event type to subscribe to.",
                    "enum": [
                      "conversationCreated",
                      "tagChanged",
                      "statusChanged",
                      "messageCreated"
                    ],
                    "x-enum-varnames": [
                      "New Conversation Started",
                      "Conversation Tags Updated",
                      "Conversation Status Updated",
                      "Messages Created"
                    ],
                    "x-enumDescriptions": {
                      "conversationCreated": "New Conversation Started",
                      "tagChanged": "Conversation Tags Updated",
                      "statusChanged": "Conversation Status Updated",
                      "messageCreated": "Messages Created"
                    },
                    "example": "messageCreated"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the created webhook"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/{webhookId}": {
      "delete": {
        "description": "Deletes a webhook by ID.",
        "security": [
          {
            "bearerAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "ID of the webhook to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConversationTag": {
        "type": "object",
        "required": [
          "id",
          "title",
          "color",
          "associatedTo"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the tag"
          },
          "title": {
            "type": "string",
            "description": "Human-readable tag title"
          },
          "color": {
            "type": "string",
            "description": "Tag color (hex, rgb, or named color)"
          },
          "associatedTo": {
            "type": "string",
            "description": "Business or account the tag is associated with"
          }
        },
        "additionalProperties": false
      },
      "Customer": {
        "type": "object",
        "required": [],
        "properties": {
          "profileImage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Profile image URL if available"
          },
          "customerName": {
            "type": "string",
            "description": "The name from WhatsApp or the originating platform"
          },
          "customerNickname": {
            "type": "string",
            "description": "The name the business gave the customer"
          },
          "description": {
            "type": "string",
            "description": "Free-text note / description controlled by the business (shown in the conversation sidebar)"
          },
          "createdAt": {
            "type": "number",
            "description": "Unix timestamp (milliseconds) when the customer was created"
          },
          "lastActiveAt": {
            "type": "number",
            "description": "Unix timestamp (milliseconds) when the customer was last active"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "platform": {
            "type": "string",
            "enum": [
              "whatsapp",
              "instagram",
              "facebookMessenger"
            ],
            "description": "Messaging platform the customer is associated with"
          },
          "phoneNumberId": {
            "type": "string",
            "description": "Platform-specific phone number identifier"
          },
          "countryCode": {
            "type": "string",
            "description": "Country calling code"
          },
          "associatedTo": {
            "type": "string",
            "description": "Business or account the customer is associated with"
          },
          "parsedPhoneNumber": {
            "type": "string",
            "description": "Normalized phone number if available"
          }
        },
        "additionalProperties": false
      },
      "CreateCustomer": {
        "type": "object",
        "required": [
          "customerName",
          "phoneNumberId",
          "countryCode"
        ],
        "properties": {
          "profileImage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Profile image URL if available, if not provided we try and find a matching profile picture for that phone number."
          },
          "customerName": {
            "type": "string",
            "description": "Customer full name"
          },
          "customerNickname": {
            "type": "string",
            "description": "Custom name to identify the customer in the business (not seen by the end user)"
          },
          "description": {
            "type": "string",
            "description": "Free-text note / description controlled by the business (shown in the conversation sidebar)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "phoneNumberId": {
            "type": "string",
            "description": "Phone number identifier including country code. (9725xxxxxxxx)"
          }
        },
        "additionalProperties": false
      },
      "UpdateCustomer": {
        "type": "object",
        "description": "Partial customer update. Include only the fields you want to change.",
        "properties": {
          "customerNickname": {
            "type": "string",
            "description": "Custom name to identify the customer in the business"
          },
          "description": {
            "type": "string",
            "description": "Free-text note / description (shown in the conversation sidebar)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Editable phone number controlled by the business"
          }
        },
        "additionalProperties": false
      },
      "Conversation": {
        "type": "object",
        "required": [
          "platformCompositionKey",
          "associatedTo",
          "participantsIdentifiers",
          "phoneNumberId",
          "messageWhatsAppId",
          "customerPhoneNumberId",
          "customer",
          "createdAt",
          "updatedAt",
          "unreadCount",
          "statusCase",
          "answerMode"
        ],
        "properties": {
          "platformCompositionKey": {
            "type": "string",
            "description": "Platform and phone/page identifier (e.g. whatsapp#<phoneNumberId>)."
          },
          "associatedTo": {
            "type": "string",
            "description": "Business or account the conversation is associated with."
          },
          "participantsIdentifiers": {
            "type": "string",
            "description": "Unique identifiers of the conversation participants."
          },
          "lastMessage": {
            "type": "object",
            "description": "Last message exchanged in the conversation."
          },
          "phoneNumberId": {
            "type": "string",
            "description": "Business phone number identifier."
          },
          "messageWhatsAppId": {
            "type": "string",
            "description": "WhatsApp message identifier."
          },
          "customerPhoneNumberId": {
            "type": "string",
            "description": "Customer phone number identifier."
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "createdAt": {
            "type": "number",
            "description": "Unix timestamp (milliseconds) when the conversation was created."
          },
          "updatedAt": {
            "type": "number",
            "description": "Unix timestamp (milliseconds) when the conversation was last updated."
          },
          "unreadCount": {
            "type": "integer",
            "description": "Number of unread messages in the conversation."
          },
          "assignedTagIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of assigned conversation tag IDs."
          },
          "assignedAgentIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of assigned agent IDs."
          },
          "lastWorkflowExecutionId": {
            "type": "string",
            "description": "Identifier of the last workflow execution."
          },
          "lastWorkflowExecution": {
            "type": "object",
            "description": "Last workflow execution data."
          },
          "aiFeatures": {
            "type": "object",
            "properties": {
              "autoTranslation": {
                "type": "object",
                "description": "Automatic translation configuration."
              }
            },
            "additionalProperties": false
          },
          "ai": {
            "type": "object",
            "properties": {
              "tokensUsed": {
                "type": "number",
                "description": "Number of AI tokens used."
              }
            },
            "additionalProperties": false
          },
          "statusCase": {
            "type": "string",
            "description": "Conversation status.",
            "enum": [
              "open",
              "closed",
              "standby"
            ]
          },
          "answerMode": {
            "type": "string",
            "description": "Conversation answer mode.",
            "enum": [
              "bot",
              "manual",
              "ai"
            ]
          },
          "lastSendMessageFromUser": {
            "type": "number",
            "description": "Unix timestamp (milliseconds) of the last message sent by the user."
          },
          "isOptoutFromMarketingMessages": {
            "type": "boolean",
            "description": "Indicates whether the customer opted out of marketing messages."
          }
        },
        "additionalProperties": false
      },
      "UserPublic": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "associatedTo": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "WhatsAppMessageContext": {
        "type": "object",
        "description": "Reply context for a WhatsApp message",
        "properties": {
          "from": {
            "type": "string",
            "description": "Original sender phone number ID"
          },
          "id": {
            "type": "string",
            "description": "Original message ID"
          }
        },
        "additionalProperties": false
      },
      "MessageBase64Attachment": {
        "type": "object",
        "description": "Base64-encoded media attachment metadata",
        "properties": {
          "resourceId": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "fileMimeType": {
            "type": "string"
          },
          "fileSize": {
            "type": "number"
          },
          "fileType": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "FileMetadata": {
        "type": "object",
        "description": "Attachment file metadata",
        "additionalProperties": false
      },
      "AITranslation": {
        "type": "object",
        "description": "AI translation payload for the message",
        "additionalProperties": false
      },
      "WhatsAppErrorMessage": {
        "type": "object",
        "description": "WhatsApp / platform error details when sending failed",
        "additionalProperties": false
      },
      "AgentIdentification": {
        "type": "object",
        "description": "Agent who sent or handled the message",
        "additionalProperties": false
      },
      "SocialComment": {
        "type": "object",
        "description": "Social (e.g. Instagram/Facebook) comment payload",
        "additionalProperties": false
      },
      "MessageReaction": {
        "type": "object",
        "description": "Single reaction on the message",
        "additionalProperties": false
      },
      "RichContent": {
        "type": "object",
        "description": "Structured rich content (buttons, lists, etc.)",
        "additionalProperties": false
      },
      "Message": {
        "type": "object",
        "description": "A prepared message returned by getMessages",
        "required": [
          "messageId",
          "createdAt",
          "sender",
          "receiver",
          "initiator",
          "status",
          "updatedAt",
          "participantsIdentifiers",
          "message",
          "type",
          "messagePlatform",
          "creationPlatform",
          "associatedTo",
          "messageDirection"
        ],
        "properties": {
          "messageId": {
            "type": "string",
            "description": "Unique message ID"
          },
          "createdAt": {
            "type": "number",
            "description": "Created at (Unix milliseconds)"
          },
          "sender": {
            "type": "string",
            "description": "Sender identifier (e.g. phone number ID)"
          },
          "receiver": {
            "type": "string",
            "description": "Receiver identifier"
          },
          "initiator": {
            "type": "string",
            "description": "Who initiated the message (`Initiator`, e.g. person, bot, ai)"
          },
          "status": {
            "type": "string",
            "description": "WhatsApp / platform delivery status (`WhatsAppMessageStatus`)"
          },
          "updatedAt": {
            "type": "number",
            "description": "Last update (Unix milliseconds)"
          },
          "participantsIdentifiers": {
            "type": "string",
            "description": "Stable conversation participant key"
          },
          "message": {
            "type": "string",
            "description": "Message body text"
          },
          "type": {
            "type": "string",
            "description": "Message type (`MessageType`)"
          },
          "messagePlatform": {
            "type": "string",
            "description": "Platform the message was sent on (`PlatformType`)"
          },
          "creationPlatform": {
            "type": "string",
            "description": "Platform where the message was created (`PlatformType`)"
          },
          "associatedTo": {
            "type": "string",
            "description": "Business / account association"
          },
          "messageDirection": {
            "type": "string",
            "description": "Direction relative to the business (`MessageDirection`)"
          },
          "hasReaction": {
            "type": "boolean",
            "description": "Whether the message has reactions"
          },
          "hasAttachment": {
            "type": "boolean",
            "description": "Whether the message includes media"
          },
          "translation": {
            "$ref": "#/components/schemas/AITranslation"
          },
          "error": {
            "$ref": "#/components/schemas/WhatsAppErrorMessage"
          },
          "agentIdentification": {
            "$ref": "#/components/schemas/AgentIdentification"
          },
          "context": {
            "$ref": "#/components/schemas/WhatsAppMessageContext"
          },
          "comment": {
            "$ref": "#/components/schemas/SocialComment"
          },
          "attachment": {
            "$ref": "#/components/schemas/FileMetadata"
          },
          "attachmentBase64": {
            "$ref": "#/components/schemas/MessageBase64Attachment"
          },
          "reactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageReaction"
            }
          },
          "richContent": {
            "$ref": "#/components/schemas/RichContent"
          },
          "informativeMessageType": {
            "type": "string",
            "description": "System / informative message subtype when applicable (`InformativeMessageType`)"
          }
        },
        "additionalProperties": false
      },
      "MessagesCursorKey": {
        "type": "object",
        "description": "Pagination cursor. Returned as `lastEvaluatedKey` in the response; send the same object as `startKey` on the next request to load the next batch. Shape: `{ \"messageId\": \"<string>\", \"createdAt\": <number> }` (Unix milliseconds). Omit `startKey` on the first request.",
        "required": [
          "messageId",
          "createdAt"
        ],
        "properties": {
          "messageId": {
            "type": "string",
            "description": "Message ID from the pagination cursor (`lastEvaluatedKey`)"
          },
          "createdAt": {
            "type": "number",
            "description": "Created-at timestamp in Unix milliseconds (from `lastEvaluatedKey`)"
          }
        },
        "additionalProperties": false
      },
      "GetMessagesRequest": {
        "type": "object",
        "description": "Use `startKey` only after the first page: set it to `lastEvaluatedKey` from the prior response to fetch the next batch.",
        "required": [
          "phoneNumberId",
          "targetPhoneNumberId"
        ],
        "properties": {
          "phoneNumberId": {
            "type": "string",
            "description": "Business / sender phone number ID"
          },
          "targetPhoneNumberId": {
            "type": "string",
            "description": "Customer (other party) phone number ID"
          },
          "startKey": {
            "$ref": "#/components/schemas/MessagesCursorKey"
          }
        },
        "additionalProperties": false
      },
      "GetMessagesResponse": {
        "type": "object",
        "required": [
          "dbObject",
          "hasMoreItemsToFetch"
        ],
        "properties": {
          "dbObject": {
            "type": "array",
            "description": "Messages (newest first), each a prepared `Message` object",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "hasMoreItemsToFetch": {
            "type": "boolean",
            "description": "Whether more messages exist beyond this page"
          },
          "lastEvaluatedKey": {
            "$ref": "#/components/schemas/MessagesCursorKey",
            "description": "When present, use this value as `startKey` in the next request to fetch the next batch of (older) messages."
          }
        },
        "additionalProperties": false
      },
      "ConversationTagIdsBody": {
        "type": "object",
        "required": [
          "tagIds"
        ],
        "properties": {
          "tagIds": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            },
            "description": "Tag IDs to assign (POST) or remove (DELETE) from the conversation"
          }
        },
        "additionalProperties": false
      },
      "RemoveConversationTagsResponse": {
        "type": "object",
        "required": [
          "errors"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Human-readable messages for tags that failed to remove; empty when all succeeded"
          }
        },
        "additionalProperties": false
      },
      "Workflow": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Workflow identifier."
          },
          "name": {
            "type": "string",
            "description": "Workflow name."
          }
        },
        "additionalProperties": false
      },
      "AIAgentRole": {
        "type": "object",
        "required": [
          "name",
          "description",
          "instructions",
          "webhook",
          "allRequired"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 40,
            "description": "Role name (max 40 characters). Also used to derive the OpenAI function tool name."
          },
          "description": {
            "type": "string",
            "maxLength": 1500,
            "description": "Short description of the role (max 1500 characters)"
          },
          "instructions": {
            "type": "string",
            "maxLength": 1500,
            "description": "Instructions used when generating the role tool schema (max 1500 characters)"
          },
          "webhook": {
            "type": "string",
            "maxLength": 300,
            "description": "Webhook URL invoked when this role tool is called (max 300 characters)"
          },
          "allRequired": {
            "type": "boolean",
            "description": "When true, generated tool parameters are all required (strict mode)"
          },
          "tool": {
            "type": "object",
            "description": "Generated OpenAI function tool definition",
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "AIAgentVectorStore": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Vector store identifier"
          },
          "required": {
            "type": "boolean",
            "description": "Whether the agent must use the vector store for answers"
          },
          "files": {
            "type": "array",
            "description": "Files currently in the vector store",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "fileNamesMapping": {
            "type": "object",
            "description": "Map of vector store file IDs to display names",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "AIAgent": {
        "type": "object",
        "required": [
          "id",
          "name",
          "associatedTo",
          "folderId",
          "created",
          "lastModified",
          "isActive",
          "profileImage",
          "roles"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "AI agent identifier"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "description": {
            "type": "string",
            "maxLength": 5000,
            "description": "Business / agent description used as context (max 5000 characters)"
          },
          "associatedTo": {
            "type": "string",
            "description": "Business the agent belongs to"
          },
          "folderId": {
            "type": "string",
            "description": "Folder that contains this agent"
          },
          "created": {
            "type": "number",
            "description": "Unix timestamp (milliseconds) when the agent was created"
          },
          "lastModified": {
            "type": "number",
            "description": "Unix timestamp (milliseconds) when the agent was last modified"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the agent is active"
          },
          "profileImage": {
            "type": "string",
            "description": "Profile image URL (may be signed)"
          },
          "tokensUsed": {
            "type": "number",
            "description": "Cumulative tokens used by this agent"
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AIAgentRole"
            }
          },
          "vectorStore": {
            "$ref": "#/components/schemas/AIAgentVectorStore"
          }
        },
        "additionalProperties": false
      },
      "UpdateAIAgent": {
        "type": "object",
        "description": "Partial update payload for an AI agent. Length limits: description 5000; role name 40; role description/instructions 1500; role webhook 300.",
        "properties": {
          "name": {
            "type": "string",
            "description": "New display name"
          },
          "description": {
            "type": "string",
            "maxLength": 5000,
            "description": "New description (max 5000 characters)"
          },
          "roles": {
            "type": "array",
            "description": "Full roles list. Changed roles regenerate their tool schemas. Limits: name 40, description 1500, instructions 1500, webhook 300.",
            "items": {
              "$ref": "#/components/schemas/AIAgentRole"
            }
          },
          "vectorStore": {
            "type": "object",
            "description": "Only `required` is updatable",
            "properties": {
              "required": {
                "type": "boolean",
                "description": "Whether the agent must use the vector store"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "AIAgentsListResponse": {
        "type": "object",
        "required": [
          "agents",
          "hasMoreItemsToFetch"
        ],
        "properties": {
          "agents": {
            "type": "array",
            "description": "Flat list of AI agents for this page",
            "items": {
              "$ref": "#/components/schemas/AIAgent"
            }
          },
          "hasMoreItemsToFetch": {
            "type": "boolean",
            "description": "Whether more agents are available"
          },
          "lastEvaluatedKey": {
            "type": "object",
            "description": "Pagination cursor for the next page. Pass URI-encoded as `exclusiveStartKey`.",
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "WebhookEvent": {
        "type": "string",
        "description": "Event type the webhook is subscribed to.",
        "enum": [
          "conversationCreated",
          "tagChanged",
          "statusChanged",
          "messageUpdated"
        ],
        "x-enum-varnames": [
          "New Conversation Started",
          "Conversation Tags Updated",
          "Conversation Status Updated",
          "Messages Created"
        ],
        "x-enumDescriptions": {
          "conversationCreated": "New Conversation Started",
          "tagChanged": "Conversation Tags Updated",
          "statusChanged": "Conversation Status Updated",
          "messageCreated": "Messages Created"
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the webhook"
          },
          "url": {
            "type": "string",
            "description": "Callback URL for webhook events"
          },
          "event": {
            "$ref": "#/components/schemas/WebhookEvent"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Cookie",
        "description": "Personal access token from Pingmee Settings → Developer Tools"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Business API key from Pingmee Settings → Developer Tools"
      }
    }
  }
}