{
  "openapi": "3.1.0",
  "info": {
    "title": "Pingmee API",
    "description": "A complete guide to Pingmee micro service architecture.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pingmee.co.il"
    }
  ],
  "security": [
    {
      "cookieAuth": [],
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/conversation/tags": {
      "get": {
        "description": "Returns all conversation tags",
        "responses": {
          "200": {
            "description": "Conversation Tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversationTag"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-conversation-tags",
            "description": "Returns all conversation tags"
          }
        }
      },
      "post": {
        "description": "Creates a new conversation tag",
        "requestBody": {
          "description": "Conversation tag to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationTag"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversation tag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationTag"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-conversation-tags",
            "description": "Creates a new conversation tag"
          }
        }
      },
      "put": {
        "description": "Conversation tag created",
        "responses": {
          "201": {
            "description": "Conversation tag created"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "put-conversation-tags",
            "description": "Conversation tag created"
          }
        }
      }
    },
    "/conversation/tags/{id}": {
      "delete": {
        "description": "Deletes a conversation tag by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation tag ID. Must be URL-encoded when used in the path.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation tag deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      },
      "get": {
        "description": "Returns a conversation tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation tag ID. Must be URL-encoded when used in the path.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation Tag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationTag"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-conversation-tags-id",
            "description": "Returns a conversation tag"
          }
        }
      }
    },
    "/conversation/statuses": {
      "get": {
        "description": "Returns all custom conversation statuses for the authenticated business. These are business-defined status labels (title and color), not the conversation `statusCase` (`open` / `closed` / `standby`).",
        "responses": {
          "200": {
            "description": "Conversation statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statuses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversationStatusDefinition"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-conversation-statuses",
            "description": "Returns all custom conversation statuses for the authenticated business. These are business-defined status labels (title and color), not the conversation `statusCase` (`open` / `closed` / `standby`)."
          }
        }
      }
    },
    "/conversations/{id}/status": {
      "post": {
        "description": "Set the status of a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "requestBody": {
          "description": "Set the status of a conversation.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "participantsIdentifiers",
                  "status"
                ],
                "properties": {
                  "participantsIdentifiers": {
                    "type": "string",
                    "description": "Unique identifiers of the conversation participants. Must match the URL path `id` (before URL encoding)."
                  },
                  "status": {
                    "type": "string",
                    "description": "Conversation status.",
                    "enum": [
                      "open",
                      "closed",
                      "standby"
                    ]
                  },
                  "phoneNumberId": {
                    "type": "string",
                    "description": "Business phone number ID. Required for Green API and web chat status notifications."
                  },
                  "platform": {
                    "type": "string",
                    "description": "Messaging platform. Used for platform-specific status handling.",
                    "enum": [
                      "whatsapp",
                      "greenAPI",
                      "web",
                      "instagram",
                      "facebookMessenger"
                    ]
                  },
                  "initiator": {
                    "type": "string",
                    "description": "Who initiated the status change. Defaults to `person` when omitted.",
                    "enum": [
                      "person",
                      "bot",
                      "campaign",
                      "ai"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversation status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-conversations-id-status",
            "description": "Set the status of a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded)."
          }
        }
      }
    },
    "/conversations/{id}/answer-mode": {
      "post": {
        "description": "Set the answer mode for a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Set the answer mode for a conversation.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "answerMode"
                ],
                "properties": {
                  "answerMode": {
                    "type": "string",
                    "description": "Conversation answer mode.",
                    "enum": [
                      "bot",
                      "manual",
                      "ai"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Answer mode updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-conversations-id-answer-mode",
            "description": "Set the answer mode for a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded)."
          }
        }
      }
    },
    "/conversations/{id}": {
      "get": {
        "description": "Get a single conversation by participants identifiers. Path `id` must be URL-encoded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-conversations-id",
            "description": "Get a single conversation by participants identifiers. Path `id` must be URL-encoded."
          }
        }
      }
    },
    "/conversations/{id}/agents": {
      "post": {
        "description": "Associate agents to a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of agent IDs to associate with the conversation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agentIds"
                ],
                "properties": {
                  "agentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Agent IDs to associate."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agents associated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-conversations-id-agents",
            "description": "Associate agents to a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded)."
          }
        }
      },
      "delete": {
        "description": "Remove agents from a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of agent IDs to remove from the conversation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agentIds"
                ],
                "properties": {
                  "agentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Agent IDs to remove."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agents removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/conversations/{id}/tags": {
      "get": {
        "description": "Returns the tag IDs assigned to a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag IDs currently assigned to the conversation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Conversation tag ID"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid conversation id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-conversations-id-tags",
            "description": "Returns the tag IDs assigned to a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded)."
          }
        }
      },
      "post": {
        "description": "Assigns one or more tags to a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationTagIdsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Missing body, path id, or invalid tagIds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-conversations-id-tags",
            "description": "Assigns one or more tags to a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded)."
          }
        }
      },
      "delete": {
        "description": "Removes one or more tags from a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationTagIdsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-tag removal results; `errors` lists tag IDs that failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveConversationTagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing body, path id, or invalid tagIds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/conversations": {
      "post": {
        "description": "Get conversations using cursor-based pagination.",
        "requestBody": {
          "description": "Pagination and filter parameters. Send an empty object `{}` to use defaults.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "phoneNumberId": {
                    "type": "string",
                    "description": "Filter conversations by phone number identifier."
                  },
                  "startKey": {
                    "type": "object",
                    "description": "Key returned from a previous request. Pass this value to fetch the next page of conversations.",
                    "additionalProperties": false
                  },
                  "limit": {
                    "type": "integer",
                    "default": 25,
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Maximum number of conversations to return."
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dbObject": {
                      "type": "array",
                      "description": "List of conversations returned for this page of results.",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    },
                    "hasMoreItemsToFetch": {
                      "type": "boolean"
                    },
                    "lastEvaluatedKey": {
                      "type": "object",
                      "description": "If present, call the same endpoint again and pass this value as `startKey` to retrieve the next page of results. Pagination is cursor-based.",
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-conversations",
            "description": "Get conversations using cursor-based pagination."
          }
        }
      }
    },
    "/customers": {
      "servers": [
        {
          "url": "https://campaigns.pingmee.co.il",
          "description": "Campaigns service"
        }
      ],
      "post": {
        "description": "Returns all customers using pagination",
        "requestBody": {
          "description": "Pagination parameters. Send an empty object `{}` for the first page.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lastEvaluatedKey": {
                    "type": "object",
                    "description": "Key returned from the previous request. Pass this value to fetch the next page of results.",
                    "additionalProperties": false
                  },
                  "limit": {
                    "type": "number",
                    "default": 25,
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Maximum number of customers to return."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dbObject": {
                      "type": "array",
                      "description": "List of customers returned for this page of results.",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "hasMoreItemsToFetch": {
                      "type": "boolean"
                    },
                    "lastEvaluatedKey": {
                      "type": "object",
                      "description": "If present, call the same endpoint again and pass this value as `lastEvaluatedKey` to retrieve the next page of results. Pagination is cursor-based, not page-number based.",
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-customers",
            "description": "Returns all customers using pagination"
          }
        }
      },
      "put": {
        "description": "Creates one or more customers.",
        "requestBody": {
          "description": "Array of customers to create.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateCustomer"
                },
                "minItems": 1
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customers created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customers"
                  ],
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "put-customers",
            "description": "Creates one or more customers."
          }
        }
      }
    },
    "/customers/{id}": {
      "servers": [
        {
          "url": "https://campaigns.pingmee.co.il",
          "description": "Campaigns service"
        }
      ],
      "post": {
        "summary": "Update customer",
        "description": "Updates editable customer fields. This is a partial update — only include the fields you want to change. `customerName` is not updatable here.\n\nUpdatable fields: `customerNickname`, `email`, `description`, `phoneNumber`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer phone number ID (includes country code, for example `9725xxxxxxxx`). Must be URL-encoded when used in the path.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Fields to update. Omit fields you do not want to change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customer"
                  ],
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-customers-id",
            "description": "Updates editable customer fields. This is a partial update — only include the fields you want to change. `customerName` is not updatable here.\n\nUpdatable fields: `customerNickname`, `email`, `description`, `phoneNumber`."
          }
        }
      },
      "delete": {
        "description": "Deletes a single customer based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer phone number ID (includes country code, for example `9725xxxxxxxx`). Must be URL-encoded when used in the path.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "true"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      },
      "get": {
        "description": "Returns a Customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer phone number ID (includes country code, for example `9725xxxxxxxx`). Must be URL-encoded when used in the path.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customer"
                  ],
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-customers-id",
            "description": "Returns a Customer"
          }
        }
      }
    },
    "/tasks/statuses": {
      "servers": [
        {
          "url": "https://business.pingmee.co.il",
          "description": "Business service"
        }
      ],
      "get": {
        "summary": "Get task statuses",
        "description": "Returns all custom task statuses for the authenticated business. These are business-defined status labels (title and color), not the built-in task `statusCase` values (`open` / `standby` / `completed`).",
        "responses": {
          "200": {
            "description": "Task statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statuses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaskStatusDefinition"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-tasks-statuses",
            "description": "Returns all custom task statuses for the authenticated business. These are business-defined status labels (title and color), not the built-in task `statusCase` values (`open` / `standby` / `completed`)."
          }
        }
      }
    },
    "/tasks/status": {
      "servers": [
        {
          "url": "https://business.pingmee.co.il",
          "description": "Business service"
        }
      ],
      "put": {
        "summary": "Create task status",
        "description": "Creates a custom task status. `title` and `color` are required. Titles must be unique for the business.",
        "requestBody": {
          "required": true,
          "description": "Task status to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskStatus"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task status created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskStatusDefinition"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, missing fields, or duplicate title",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "put-tasks-status",
            "description": "Creates a custom task status. Title and color are required. Titles must be unique for the business."
          }
        }
      }
    },
    "/tasks/status/{id}": {
      "servers": [
        {
          "url": "https://business.pingmee.co.il",
          "description": "Business service"
        }
      ],
      "delete": {
        "summary": "Delete task status",
        "description": "Deletes a custom task status by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Task status identifier returned when the status was created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Task status not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "delete-tasks-status-id",
            "description": "Deletes a custom task status by ID."
          }
        }
      }
    },
    "/tasks/list": {
      "servers": [
        {
          "url": "https://business.pingmee.co.il",
          "description": "Business service"
        }
      ],
      "post": {
        "summary": "Get tasks",
        "description": "Returns tasks using cursor-based pagination. Default page size is 50; the maximum is 100.",
        "requestBody": {
          "description": "Pagination and filter parameters. Send an empty object `{}` to use defaults.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "phoneNumberId": {
                    "type": "string",
                    "description": "Filter tasks by business phone number identifier."
                  },
                  "agentId": {
                    "type": "string",
                    "description": "Filter tasks assigned to this agent."
                  },
                  "participantsIdentifiers": {
                    "type": "string",
                    "description": "Filter tasks linked to this conversation (`participantsIdentifiers`)."
                  },
                  "lastEvaluatedKey": {
                    "type": "object",
                    "description": "Key returned from a previous request. Pass this value to fetch the next page of tasks.",
                    "additionalProperties": false
                  },
                  "limit": {
                    "type": "integer",
                    "default": 50,
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Maximum number of tasks to return."
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dbObject": {
                      "type": "array",
                      "description": "List of tasks returned for this page of results.",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    },
                    "hasMoreItemsToFetch": {
                      "type": "boolean"
                    },
                    "lastEvaluatedKey": {
                      "type": "object",
                      "description": "If present, call the same endpoint again and pass this value as `lastEvaluatedKey` to retrieve the next page of results. Pagination is cursor-based, not page-number based.",
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-tasks-list",
            "description": "Returns tasks using cursor-based pagination. Default page size is 50; the maximum is 100."
          }
        }
      }
    },
    "/tasks/{taskId}": {
      "servers": [
        {
          "url": "https://business.pingmee.co.il",
          "description": "Business service"
        }
      ],
      "get": {
        "summary": "Get task",
        "description": "Returns a single task by ID.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task identifier returned when the task was created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "task"
                  ],
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/Task"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-tasks-taskId",
            "description": "Returns a single task by ID."
          }
        }
      },
      "patch": {
        "summary": "Update task",
        "description": "Partial update — send only the fields you want to change. The server always refreshes `updatedAt` and `agentIdentification`, and increments `unreadCount`.\n\nUpdatable fields: `title`, `body`, `statusCase`, `assignedAgentIds`, `viewedByAgentIds`, `dueDate`, `participantsIdentifiers`, `phoneNumberId`.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task identifier returned when the task was created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Fields to update. Omit fields you do not want to change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTask"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "task"
                  ],
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/Task"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "patch-tasks-taskId",
            "description": "Partial update — send only the fields you want to change. The server always refreshes `updatedAt` and `agentIdentification`, and increments `unreadCount`.\n\nUpdatable fields: `title`, `body`, `statusCase`, `assignedAgentIds`, `viewedByAgentIds`, `dueDate`, `participantsIdentifiers`, `phoneNumberId`."
          }
        }
      },
      "delete": {
        "summary": "Delete task",
        "description": "Deletes a single task by ID.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task identifier returned when the task was created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "taskId"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "taskId": {
                      "type": "string",
                      "description": "Identifier of the deleted task."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/templates/send": {
      "servers": [
        {
          "url": "https://business.pingmee.co.il",
          "description": "Send a Whatsapp Template"
        }
      ],
      "post": {
        "description": "Send a WhatsApp template message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to",
                  "type",
                  "templateId"
                ],
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "Sender phone number ID"
                  },
                  "to": {
                    "type": "string",
                    "description": "Recipient phone number"
                  },
                  "type": {
                    "type": "string",
                    "default": "template",
                    "enum": [
                      "template"
                    ]
                  },
                  "templateId": {
                    "type": "string",
                    "description": "Template identifier"
                  },
                  "templateData": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "object",
                        "properties": {
                          "parameters": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "header": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "IMAGE",
                              "VIDEO",
                              "DOCUMENT"
                            ],
                            "description": "Header media type"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-templates-send",
            "description": "Send a WhatsApp template message"
          }
        }
      }
    },
    "/phone-numbers": {
      "servers": [
        {
          "url": "https://business.pingmee.co.il",
          "description": "Business phone numbers service"
        }
      ],
      "get": {
        "description": "List connected WhatsApp (and Green-API) phone numbers for the authenticated business. Call this before creating a workflow: if more than one number is returned, ask the user which one to bind. Copy the chosen row's `id` into the workflow `associatedToBusinessId` (not `associatedBusinessId`, which is the WABA id) and set `platformType`. For a starter/outbound bot (or a named catalog template), pass the same `id` as `phoneNumberId` on GET `/templates`. Skip GET `/templates` for inbound reply bots (`pingmeeTrigger`) unless the user named a template. Facebook pages and Instagram accounts are not in this list. See `/build-workflows/document` (platform binding) and `/build-workflows/overview`.",
        "responses": {
          "200": {
            "description": "Connected phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "phoneNumbers": {
                      "type": "array",
                      "description": "Connected WhatsApp / Green-API numbers. Use `id` as workflow `associatedToBusinessId`.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Phone-number id. Copy this into workflow `associatedToBusinessId` and into GET `/templates?phoneNumberId=`."
                          },
                          "verified_name": {
                            "type": "string",
                            "description": "Verified business name. Show this when asking the user to pick a number."
                          },
                          "display_phone_number": {
                            "type": "string",
                            "description": "Display phone number (human-readable). Not the workflow id."
                          },
                          "type": {
                            "type": "string",
                            "description": "`whatsapp` or `greenAPI`. Copy into workflow `platformType`."
                          },
                          "associatedBusinessId": {
                            "type": "string",
                            "description": "WhatsApp Business Account (WABA) id. Do not put this in `associatedToBusinessId`."
                          }
                        },
                        "additionalProperties": true
                      }
                    }
                  },
                  "required": [
                    "phoneNumbers"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-phone-numbers",
            "description": "List connected WhatsApp phone numbers. Ask the user which number to bind, then set workflow associatedToBusinessId to the row id (not associatedBusinessId / WABA). Use that id as phoneNumberId on GET /templates only for starter/outbound bots or a named catalog template — not for inbound reply bots."
          }
        }
      }
    },
    "/templates": {
      "get": {
        "description": "List WhatsApp message templates for a connected phone number (`type=whatsapp` and `phoneNumberId` required). `phoneNumberId` is the workflow `associatedToBusinessId` (GET `/phone-numbers` row `id`). Call this for **starter/outbound** bots (`workflowTrigger`, POST `/workflows/{id}/trigger`, campaign-style send, or any send outside the 24-hour window), or when the user named a catalog template. Do **not** call this for inbound reply bots (`pingmeeTrigger` `Messages Created` / `New Conversation Started`) — those use `messageType: custom`. When you do fetch: pick an APPROVED template, copy it into the WhatsApp node's `templateInformation`, set `messageType: template` and `templateType: whatsapp`, and bind `bodyVariables` / `headerVariables`. Skip IMAGE / VIDEO / DOCUMENT header templates unless `attachmentS3Id` is already on the component — there is no public upload API. Infer intent: `/build-workflows/overview`. Field mapping: `/build-workflows/nodes-and-edges`.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "whatsapp"
              ]
            },
            "description": "Template platform type. Use `whatsapp` for Meta catalog templates."
          },
          {
            "name": "phoneNumberId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Phone-number id from GET `/phone-numbers` (workflow `associatedToBusinessId`). Do not use the WABA id."
          }
        ],
        "responses": {
          "200": {
            "description": "WhatsApp templates (Meta catalog shape)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Template id. Copy into `templateInformation.id`."
                      },
                      "name": {
                        "type": "string",
                        "description": "Template name. Copy into `templateInformation.name`. Do not invent this."
                      },
                      "language": {
                        "type": "string",
                        "description": "Template language code (for example `en`, `he`)."
                      },
                      "status": {
                        "type": "string",
                        "description": "Use only `APPROVED` templates when the bot opens a conversation (starter/outbound). Reply bots do not need this list."
                      },
                      "category": {
                        "type": "string",
                        "description": "Meta category such as `UTILITY`, `MARKETING`, or `AUTHENTICATION`."
                      },
                      "components": {
                        "type": "array",
                        "description": "HEADER / BODY / FOOTER / BUTTONS. Copy the array into `templateInformation.components`. Bind BODY `{{n}}` with `bodyVariables` and text HEADER `{{n}}` with `headerVariables`.",
                        "items": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    },
                    "required": [
                      "id",
                      "name"
                    ],
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-templates",
            "description": "Get WhatsApp templates for a phone number (workflow associatedToBusinessId). Call only for starter/outbound bots or a named catalog template — not for inbound reply bots (pingmeeTrigger). When opening a conversation: copy APPROVED into templateInformation, set messageType template and templateType whatsapp, bind bodyVariables / headerVariables. No public media upload."
          }
        }
      },
      "servers": [
        {
          "url": "https://api.pingmee.co.il",
          "description": "Core API"
        }
      ]
    },
    "/sendMessage": {
      "post": {
        "description": "Send a message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sender",
                  "receiver",
                  "participantsIdentifiers",
                  "message",
                  "type",
                  "messagePlatform",
                  "initiator"
                ],
                "properties": {
                  "sender": {
                    "type": "string",
                    "description": "Sender identifier"
                  },
                  "receiver": {
                    "type": "string",
                    "description": "Receiver identifier"
                  },
                  "participantsIdentifiers": {
                    "type": "string",
                    "description": "Conversation participants identifiers"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message content"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "default"
                    ],
                    "default": "default"
                  },
                  "initiator": {
                    "type": "string",
                    "enum": [
                      "person"
                    ],
                    "default": "person"
                  },
                  "messagePlatform": {
                    "type": "string",
                    "enum": [
                      "instagram",
                      "facebookMessenger",
                      "whatsapp"
                    ],
                    "default": "whatsapp",
                    "description": "Messaging platform"
                  },
                  "context": {
                    "type": "object",
                    "description": "Reply to an existing WhatsApp message",
                    "properties": {
                      "from": {
                        "type": "string",
                        "description": "Original sender phone number Id"
                      },
                      "id": {
                        "type": "string",
                        "description": "Original message ID"
                      }
                    },
                    "additionalProperties": false
                  },
                  "attachmentBase64": {
                    "type": "object",
                    "description": "Base64 encoded media attachment",
                    "properties": {
                      "resourceId": {
                        "type": "string",
                        "description": "Uploaded media resource ID"
                      },
                      "fileName": {
                        "type": "string",
                        "description": "Original file name"
                      },
                      "fileMimeType": {
                        "type": "string",
                        "description": "MIME type"
                      },
                      "fileSize": {
                        "type": "number",
                        "description": "File size in bytes"
                      },
                      "fileType": {
                        "type": "string",
                        "description": "Attachment type"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message_generated_id"
                  ],
                  "properties": {
                    "message_generated_id": {
                      "type": "string",
                      "description": "Platform-generated message ID"
                    },
                    "sentMessage": {
                      "type": "object",
                      "description": "Returned only when initiator is bot or ai",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "whatsappMessageResponse": {
                          "type": "object",
                          "description": "Raw platform response",
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "message",
                        "whatsappMessageResponse"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-sendMessage",
            "description": "Send a message"
          }
        }
      }
    },
    "/getMessages": {
      "post": {
        "description": "Fetches messages for a conversation identified by the business phone number and the customer (target) phone number. Results are ordered newest first. Omit `startKey` on the first request. For each following batch, set `startKey` to the `lastEvaluatedKey` value returned by the previous response.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages and pagination metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-getMessages",
            "description": "Fetches messages for a conversation identified by the business phone number and the customer (target) phone number. Results are ordered newest first. Omit `startKey` on the first request. For each following batch, set `startKey` to the `lastEvaluatedKey` value returned by the previous response."
          }
        }
      }
    },
    "/agents": {
      "get": {
        "description": "Returns all agents associated with the authenticated account.",
        "responses": {
          "200": {
            "description": "Agents list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserPublic"
                      }
                    }
                  },
                  "required": [
                    "agents"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-agents",
            "description": "Returns all agents associated with the authenticated account."
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "description": "Returns a single agent by ID (email). Path `id` must be URL-encoded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent email address (agent ID). Must be URL-encoded when used in the path (for example, encode `@` as `%40`).",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/UserPublic"
                    }
                  },
                  "required": [
                    "agent"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid agent ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-agents-id",
            "description": "Returns a single agent by ID (email). Path `id` must be URL-encoded."
          }
        }
      }
    },
    "/ai-agents": {
      "servers": [
        {
          "url": "https://ai.pingmee.co.il",
          "description": "AI service"
        }
      ],
      "get": {
        "summary": "List AI agents",
        "description": "Returns a flat paginated list of AI agents for the authenticated business. Pass `flat=true` to skip folder grouping. Distinct from human agents under `/agents`.",
        "parameters": [
          {
            "name": "flat",
            "in": "query",
            "required": true,
            "description": "Must be `true` to return a flat agent list (no folders).",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          },
          {
            "name": "getFiles",
            "in": "query",
            "required": false,
            "description": "When `true`, loads vector store files for each agent. Defaults to omitting file contents.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 25.",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1
            }
          },
          {
            "name": "exclusiveStartKey",
            "in": "query",
            "required": false,
            "description": "URI-encoded JSON pagination cursor from a previous response `lastEvaluatedKey`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flat AI agents page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIAgentsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-ai-agents",
            "description": "Returns a flat paginated list of AI agents for the authenticated business. Pass `flat=true` to skip folder grouping. Distinct from human agents under `/agents`."
          }
        }
      }
    },
    "/ai-agents/{id}": {
      "servers": [
        {
          "url": "https://ai.pingmee.co.il",
          "description": "AI service"
        }
      ],
      "get": {
        "summary": "Get AI agent",
        "description": "Returns a single AI agent by ID, including vector store files when available. Path `id` must be URL-encoded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AI agent identifier. Must be URL-encoded when used in the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIAgent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "AI agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-ai-agents-id",
            "description": "Returns a single AI agent by ID, including vector store files when available. Path `id` must be URL-encoded."
          }
        }
      },
      "put": {
        "summary": "Update AI agent",
        "description": "Updates an AI agent. Supported fields: `name`, `description`, `roles`, and `vectorStore.required`. Changed roles regenerate their OpenAI function tools.\n\n**Field length limits** (same as the Pingmee app; exceeding them returns `400`):\n\n| Field | Max length |\n| --- | --- |\n| `description` | 5000 |\n| `roles[].name` | 40 |\n| `roles[].description` | 1500 |\n| `roles[].instructions` | 1500 |\n| `roles[].webhook` | 300 |\n\nPath `id` must be URL-encoded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AI agent identifier. Must be URL-encoded when used in the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Fields to update on the AI agent",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAIAgent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "AIAgent '123' updated successfully."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "AI agent ID missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "put-ai-agents-id",
            "description": "Updates an AI agent. Supported fields: `name`, `description`, `roles`, and `vectorStore.required`. Changed roles regenerate their OpenAI function tools.\n\n**Field length limits** (same as the Pingmee app; exceeding them returns `400`):\n\n| Field | Max length |\n| --- | --- |\n| `description` | 5000 |\n| `roles[].name` | 40 |\n| `roles[].description` | 1500 |\n| `roles[].instructions` | 1500 |\n| `roles[].webhook` | 300 |\n\nPath `id` must be URL-encoded."
          }
        }
      }
    },
    "/workflows": {
      "servers": [
        {
          "url": "https://workflows.pingmee.co.il",
          "description": "Workflows service"
        }
      ],
      "post": {
        "description": "List workflows (minimal).",
        "requestBody": {
          "description": "Request the minimal workflow dataset.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "getAllWorkflowsMinimalData"
                ],
                "properties": {
                  "getAllWorkflowsMinimalData": {
                    "type": "boolean",
                    "description": "When true, returns only the minimal workflow data required by the client cache.",
                    "default": true,
                    "example": true
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Minimal workflow list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result"
                  ],
                  "properties": {
                    "result": {
                      "type": "array",
                      "description": "Minimal rows only: `id`, `name`, and `folderId`. Use GET /workflows/{workflowId} for the full document.",
                      "items": {
                        "$ref": "#/components/schemas/Workflow"
                      }
                    },
                    "lastEvaluatedKey": {
                      "type": "object",
                      "description": "Pagination cursor for the next page when more workflows exist.",
                      "additionalProperties": true
                    },
                    "hasMoreItemsToFetch": {
                      "type": "boolean",
                      "description": "Whether more workflows exist beyond this page."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "post-workflows",
            "description": "List workflows (minimal)."
          }
        }
      }
    },
    "/workflows/{workflowId}": {
      "servers": [
        {
          "url": "https://workflows.pingmee.co.il",
          "description": "Workflows service"
        }
      ],
      "get": {
        "description": "Returns the full workflow document, including canvas `data`, execution `parsedData`, `trigger`, `variables`, `settings`, and (on the Expert AI plan) `analytics`. If `analytics` is omitted, the plan may not include canvas analytics — do not invent counts. There is no separate analytics GET. Path `workflowId` must be URL-encoded. See `/build-workflows/analytics`.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "Workflow identifier. Must be URL-encoded when used in the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full workflow document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workflow"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-workflows-workflowId",
            "description": "Returns the full workflow document, including canvas data, execution parsedData, trigger, variables, settings, and (Expert AI) analytics. If analytics is omitted, the plan may not include canvas analytics. Path workflowId must be URL-encoded."
          }
        }
      },
      "post": {
        "description": "Create a workflow. Client supplies `workflowId` in the path (URL-encode it). Required query: `folderId`. Body requires `name`. Before saving, GET `/phone-numbers`, ask the user which number to bind, and set `associatedToBusinessId` to that row's `id` plus `platformType`. Infer intent: if the bot **opens** a WhatsApp conversation (starter/outbound, `workflowTrigger`, POST `/trigger`), GET `/templates` and use an APPROVED template on the first WhatsApp node; inbound reply bots (`pingmeeTrigger`) use `messageType: custom` and should not fetch templates unless the user named one. Graph fields (`data`, `parsedData`, `trigger`, `triggerType`, `variables`) are optional — you can send a full document. The server overwrites `id`, `associatedTo` (from the Cookie), `folderId`, `isActive` (always `false`), `created`, `lastModified`, `executionCount`, `lastExecution`, and `analytics`. Returns `{ message, created, lastModified }`.\n\nBefore building `data` / `parsedData`, read `/build-workflows/overview` and the related Build workflows cookbook pages. Recommended save sequence: optional POST `/folders/{id}` → POST this endpoint (name + phone ids + optional graph) → PUT `{ isActive: true }`. Graph PUTs must echo `lastModified`.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "Client-supplied workflow identifier. Must be URL-encoded when used in the path.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "description": "Folder to place the workflow in. Create a folder with POST `/folders/{id}` or reuse `folderId` from the minimal list.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "At least `name`. Optionally include the full dual graph (`data`, `parsedData`, `trigger`, `triggerType`, `variables`) and other Workflow fields. `isActive` in the body is ignored — the server always stores `false`.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Workflow name."
                  },
                  "associatedToBusinessId": {
                    "type": "string",
                    "description": "WhatsApp phone-number id from GET `/phone-numbers` (row `id`, not `associatedBusinessId` / WABA). Required for WhatsApp send. Ask the user if more than one number exists."
                  },
                  "associatedToPlatformId": {
                    "type": "string",
                    "description": "Optional alias of the same phone-number / page id as `associatedToBusinessId`."
                  },
                  "platformType": {
                    "type": "string",
                    "description": "`whatsapp`, `facebookMessenger`, `instagram`, or `web`. Set on create together with `associatedToBusinessId`."
                  },
                  "triggerType": {
                    "type": "string",
                    "description": "Usually `trigger.data.eventType`. Trigger is not inside `parsedData`."
                  },
                  "trigger": {
                    "$ref": "#/components/schemas/WorkflowNode"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Workflow-level variable map. Usually `{}` unless set.",
                    "additionalProperties": true
                  },
[...]
