{
  "openapi": "3.1.0",
  "info": {
    "title": "Pingmee API",
    "description": "A complete guide to Pingmee micro service architecture.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pingmee.co.il"
    }
  ],
  "security": [
    {
      "cookieAuth": [],
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/conversation/tags": {
      "get": {
        "description": "Returns all conversation tags",
        "responses": {
          "200": {
            "description": "Conversation Tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversationTag"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new conversation tag",
        "requestBody": {
          "description": "Conversation tag to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationTag"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversation tag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationTag"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Conversation tag created",
        "responses": {
          "201": {
            "description": "Conversation tag created"
          }
        }
      }
    },
    "/conversation/tags/{id}": {
      "delete": {
        "description": "Deletes a conversation tag by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation tag ID. Must be URL-encoded when used in the path.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation tag deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Returns a conversation tag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Conversation tag ID. Must be URL-encoded when used in the path.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation Tag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationTag"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversation/statuses": {
      "get": {
        "description": "Returns all custom conversation statuses for the authenticated business. These are business-defined status labels (title and color), not the conversation `statusCase` (`open` / `closed` / `standby`).",
        "responses": {
          "200": {
            "description": "Conversation statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statuses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversationStatusDefinition"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}/status": {
      "post": {
        "description": "Set the status of a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "requestBody": {
          "description": "Set the status of a conversation.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "participantsIdentifiers",
                  "status"
                ],
                "properties": {
                  "participantsIdentifiers": {
                    "type": "string",
                    "description": "Unique identifiers of the conversation participants. Must match the URL path `id` (before URL encoding)."
                  },
                  "status": {
                    "type": "string",
                    "description": "Conversation status.",
                    "enum": [
                      "open",
                      "closed",
                      "standby"
                    ]
                  },
                  "phoneNumberId": {
                    "type": "string",
                    "description": "Business phone number ID. Required for Green API and web chat status notifications."
                  },
                  "platform": {
                    "type": "string",
                    "description": "Messaging platform. Used for platform-specific status handling.",
                    "enum": [
                      "whatsapp",
                      "greenAPI",
                      "web",
                      "instagram",
                      "facebookMessenger"
                    ]
                  },
                  "initiator": {
                    "type": "string",
                    "description": "Who initiated the status change. Defaults to `person` when omitted.",
                    "enum": [
                      "person",
                      "bot",
                      "campaign",
                      "ai"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversation status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/conversations/{id}/answer-mode": {
      "post": {
        "description": "Set the answer mode for a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Set the answer mode for a conversation.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "answerMode"
                ],
                "properties": {
                  "answerMode": {
                    "type": "string",
                    "description": "Conversation answer mode.",
                    "enum": [
                      "bot",
                      "manual",
                      "ai"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Answer mode updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}": {
      "get": {
        "description": "Get a single conversation by participants identifiers. Path `id` must be URL-encoded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}/agents": {
      "post": {
        "description": "Associate agents to a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of agent IDs to associate with the conversation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agentIds"
                ],
                "properties": {
                  "agentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Agent IDs to associate."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agents associated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Remove agents from a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of agent IDs to remove from the conversation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "agentIds"
                ],
                "properties": {
                  "agentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Agent IDs to remove."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agents removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{id}/tags": {
      "get": {
        "description": "Returns the tag IDs assigned to a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag IDs currently assigned to the conversation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Conversation tag ID"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid conversation id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Assigns one or more tags to a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationTagIdsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "Missing body, path id, or invalid tagIds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Removes one or more tags from a conversation. Path `id` is the conversation `participantsIdentifiers` (URL-encoded).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation participants identifiers (`participantsIdentifiers`). Must be URL-encoded when used in the path (for example, encode `#` as `%23`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationTagIdsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-tag removal results; `errors` lists tag IDs that failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveConversationTagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing body, path id, or invalid tagIds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/conversations": {
      "post": {
        "description": "Get conversations using cursor-based pagination.",
        "requestBody": {
          "description": "Pagination and filter parameters. Send an empty object `{}` to use defaults.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "phoneNumberId": {
                    "type": "string",
                    "description": "Filter conversations by phone number identifier."
                  },
                  "startKey": {
                    "type": "object",
                    "description": "Key returned from a previous request. Pass this value to fetch the next page of conversations.",
                    "additionalProperties": false
                  },
                  "limit": {
                    "type": "integer",
                    "default": 25,
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Maximum number of conversations to return."
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dbObject": {
                      "type": "array",
                      "description": "List of conversations returned for this page of results.",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    },
                    "hasMoreItemsToFetch": {
                      "type": "boolean"
                    },
                    "lastEvaluatedKey": {
                      "type": "object",
                      "description": "If present, call the same endpoint again and pass this value as `startKey` to retrieve the next page of results. Pagination is cursor-based.",
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "servers": [
        {
          "url": "https://campaigns.pingmee.co.il",
          "description": "Campaigns service"
        }
      ],
      "post": {
        "description": "Returns all customers using pagination",
        "requestBody": {
          "description": "Pagination parameters. Send an empty object `{}` for the first page.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lastEvaluatedKey": {
                    "type": "object",
                    "description": "Key returned from the previous request. Pass this value to fetch the next page of results.",
                    "additionalProperties": false
                  },
                  "limit": {
                    "type": "number",
                    "default": 25,
                    "minimum": 1,
                    "maximum": 100,
                    "description": "Maximum number of customers to return."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dbObject": {
                      "type": "array",
                      "description": "List of customers returned for this page of results.",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "hasMoreItemsToFetch": {
                      "type": "boolean"
                    },
                    "lastEvaluatedKey": {
                      "type": "object",
                      "description": "If present, call the same endpoint again and pass this value as `lastEvaluatedKey` to retrieve the next page of results. Pagination is cursor-based, not page-number based.",
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Creates one or more customers.",
        "requestBody": {
          "description": "Array of customers to create.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateCustomer"
                },
                "minItems": 1
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customers created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customers"
                  ],
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{id}": {
      "servers": [
        {
          "url": "https://campaigns.pingmee.co.il",
          "description": "Campaigns service"
        }
      ],
      "post": {
        "summary": "Update customer",
        "description": "Updates editable customer fields. This is a partial update — only include the fields you want to change. `customerName` is not updatable here.\n\nUpdatable fields: `customerNickname`, `email`, `description`, `phoneNumber`.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer phone number ID (includes country code, for example `9725xxxxxxxx`). Must be URL-encoded when used in the path.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Fields to update. Omit fields you do not want to change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customer"
                  ],
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a single customer based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer phone number ID (includes country code, for example `9725xxxxxxxx`). Must be URL-encoded when used in the path.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "true"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Returns a Customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Customer phone number ID (includes country code, for example `9725xxxxxxxx`). Must be URL-encoded when used in the path.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "customer"
                  ],
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{taskId}": {
      "servers": [
        {
          "url": "https://business.pingmee.co.il",
          "description": "Business service"
        }
      ],
      "get": {
        "summary": "Get task",
        "description": "Returns a single task by ID.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task identifier returned when the task was created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "task"
                  ],
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/Task"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update task",
        "description": "Partial update — send only the fields you want to change. The server always refreshes `updatedAt` and `agentIdentification`, and increments `unreadCount`.\n\nUpdatable fields: `title`, `body`, `statusCase`, `assignedAgentIds`, `viewedByAgentIds`, `dueDate`, `isRecurring`, `recurringAtDate`, `participantsIdentifiers`, `phoneNumberId`.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task identifier returned when the task was created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Fields to update. Omit fields you do not want to change.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTask"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "task"
                  ],
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/Task"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete task",
        "description": "Deletes a single task by ID.",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "Task identifier returned when the task was created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "taskId"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "taskId": {
                      "type": "string",
                      "description": "Identifier of the deleted task."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/templates/send": {
      "servers": [
        {
          "url": "https://business.pingmee.co.il",
          "description": "Send a Whatsapp Template"
        }
      ],
      "post": {
        "description": "Send a WhatsApp template message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to",
                  "type",
                  "templateId"
                ],
                "properties": {
                  "from": {
                    "type": "string",
                    "description": "Sender phone number ID"
                  },
                  "to": {
                    "type": "string",
                    "description": "Recipient phone number"
                  },
                  "type": {
                    "type": "string",
                    "default": "template",
                    "enum": [
                      "template"
                    ]
                  },
                  "templateId": {
                    "type": "string",
                    "description": "Template identifier"
                  },
                  "templateData": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "object",
                        "properties": {
                          "parameters": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "header": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "IMAGE",
                              "VIDEO",
                              "DOCUMENT"
                            ],
                            "description": "Header media type"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers": {
      "servers": [
        {
          "url": "https://business.pingmee.co.il",
          "description": "Business phone numbers service"
        }
      ],
      "get": {
        "description": "Get business phone numbers",
        "responses": {
          "200": {
            "description": "List of phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dbObject": {
                      "type": "array",
                      "description": "Business phone numbers for the authenticated account.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Phone number ID"
                          },
                          "verified_name": {
                            "type": "string",
                            "description": "Verified business name"
                          },
                          "display_phone_number": {
                            "type": "string",
                            "description": "Display phone number"
                          }
                        },
                        "additionalProperties": true
                      }
                    },
                    "hasMoreItemsToFetch": {
                      "type": "boolean"
                    },
                    "lastEvaluatedKey": {
                      "type": "object",
                      "description": "Pagination cursor when more phone numbers exist.",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "dbObject",
                    "hasMoreItemsToFetch"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "description": "Get WhatsApp templates for a specific phone number",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "whatsapp"
              ]
            },
            "description": "Template platform type"
          },
          {
            "name": "phoneNumberId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Phone number ID to fetch templates for"
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Template ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Template name"
                      }
                    },
                    "required": [
                      "id",
                      "name"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.pingmee.co.il",
          "description": "Core API"
        }
      ]
    },
    "/sendMessage": {
      "post": {
        "description": "Send a message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sender",
                  "receiver",
                  "participantsIdentifiers",
                  "message",
                  "type",
                  "messagePlatform",
                  "initiator"
                ],
                "properties": {
                  "sender": {
                    "type": "string",
                    "description": "Sender identifier"
                  },
                  "receiver": {
                    "type": "string",
                    "description": "Receiver identifier"
                  },
                  "participantsIdentifiers": {
                    "type": "string",
                    "description": "Conversation participants identifiers"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message content"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "default"
                    ],
                    "default": "default"
                  },
                  "initiator": {
                    "type": "string",
                    "enum": [
                      "person"
                    ],
                    "default": "person"
                  },
                  "messagePlatform": {
                    "type": "string",
                    "enum": [
                      "instagram",
                      "facebookMessenger",
                      "whatsapp"
                    ],
                    "default": "whatsapp",
                    "description": "Messaging platform"
                  },
                  "context": {
                    "type": "object",
                    "description": "Reply to an existing WhatsApp message",
                    "properties": {
                      "from": {
                        "type": "string",
                        "description": "Original sender phone number Id"
                      },
                      "id": {
                        "type": "string",
                        "description": "Original message ID"
                      }
                    },
                    "additionalProperties": false
                  },
                  "attachmentBase64": {
                    "type": "object",
                    "description": "Base64 encoded media attachment",
                    "properties": {
                      "resourceId": {
                        "type": "string",
                        "description": "Uploaded media resource ID"
                      },
                      "fileName": {
                        "type": "string",
                        "description": "Original file name"
                      },
                      "fileMimeType": {
                        "type": "string",
                        "description": "MIME type"
                      },
                      "fileSize": {
                        "type": "number",
                        "description": "File size in bytes"
                      },
                      "fileType": {
                        "type": "string",
                        "description": "Attachment type"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message_generated_id"
                  ],
                  "properties": {
                    "message_generated_id": {
                      "type": "string",
                      "description": "Platform-generated message ID"
                    },
                    "sentMessage": {
                      "type": "object",
                      "description": "Returned only when initiator is bot or ai",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "whatsappMessageResponse": {
                          "type": "object",
                          "description": "Raw platform response",
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "message",
                        "whatsappMessageResponse"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/getMessages": {
      "post": {
        "description": "Fetches messages for a conversation identified by the business phone number and the customer (target) phone number. Results are ordered newest first. Omit `startKey` on the first request. For each following batch, set `startKey` to the `lastEvaluatedKey` value returned by the previous response.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages and pagination metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMessagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "get": {
        "description": "Returns all agents associated with the authenticated account.",
        "responses": {
          "200": {
            "description": "Agents list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserPublic"
                      }
                    }
                  },
                  "required": [
                    "agents"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "description": "Returns a single agent by ID (email). Path `id` must be URL-encoded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent email address (agent ID). Must be URL-encoded when used in the path (for example, encode `@` as `%40`).",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/UserPublic"
                    }
                  },
                  "required": [
                    "agent"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid agent ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ai-agents": {
      "servers": [
        {
          "url": "https://ai.pingmee.co.il",
          "description": "AI service"
        }
      ],
      "get": {
        "summary": "List AI agents",
        "description": "Returns a flat paginated list of AI agents for the authenticated business. Pass `flat=true` to skip folder grouping. Distinct from human agents under `/agents`.",
        "parameters": [
          {
            "name": "flat",
            "in": "query",
            "required": true,
            "description": "Must be `true` to return a flat agent list (no folders).",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          },
          {
            "name": "getFiles",
            "in": "query",
            "required": false,
            "description": "When `true`, loads vector store files for each agent. Defaults to omitting file contents.",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 25.",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1
            }
          },
          {
            "name": "exclusiveStartKey",
            "in": "query",
            "required": false,
            "description": "URI-encoded JSON pagination cursor from a previous response `lastEvaluatedKey`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flat AI agents page",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIAgentsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ai-agents/{id}": {
      "servers": [
        {
          "url": "https://ai.pingmee.co.il",
          "description": "AI service"
        }
      ],
      "get": {
        "summary": "Get AI agent",
        "description": "Returns a single AI agent by ID, including vector store files when available. Path `id` must be URL-encoded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AI agent identifier. Must be URL-encoded when used in the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIAgent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "AI agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update AI agent",
        "description": "Updates an AI agent. Supported fields: `name`, `description`, `roles`, and `vectorStore.required`. Changed roles regenerate their OpenAI function tools.\n\n**Field length limits** (same as the Pingmee app; exceeding them returns `400`):\n\n| Field | Max length |\n| --- | --- |\n| `description` | 5000 |\n| `roles[].name` | 40 |\n| `roles[].description` | 1500 |\n| `roles[].instructions` | 1500 |\n| `roles[].webhook` | 300 |\n\nPath `id` must be URL-encoded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AI agent identifier. Must be URL-encoded when used in the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Fields to update on the AI agent",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAIAgent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "AIAgent '123' updated successfully."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "AI agent ID missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/workflows": {
      "servers": [
        {
          "url": "https://workflows.pingmee.co.il",
          "description": "Workflows service"
        }
      ],
      "post": {
        "description": "Returns the workflow data.",
        "requestBody": {
          "description": "Request the minimal workflow dataset.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "getAllWorkflowsMinimalData"
                ],
                "properties": {
                  "getAllWorkflowsMinimalData": {
                    "type": "boolean",
                    "description": "When true, returns only the minimal workflow data required by the client cache.",
                    "default": true,
                    "example": true
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Minimal workflow list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result"
                  ],
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workflow"
                      }
                    },
                    "lastEvaluatedKey": {
                      "type": "object",
                      "description": "Pagination cursor for the next page when more workflows exist.",
                      "additionalProperties": true
                    },
                    "hasMoreItemsToFetch": {
                      "type": "boolean",
                      "description": "Whether more workflows exist beyond this page."
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{workflowId}/trigger": {
      "servers": [
        {
          "url": "https://workflows.pingmee.co.il",
          "description": "Workflows service"
        }
      ],
      "post": {
        "description": "Manually trigger a bot workflow for a conversation. Path `workflowId` must be URL-encoded.",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "Workflow identifier. Must be URL-encoded when used in the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Conversation, optional node to start the workflow from, and optional JSON payload for the trigger.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phoneNumberId",
                  "customerPhoneNumberId"
                ],
                "properties": {
                  "phoneNumberId": {
                    "type": "string",
                    "description": "Business phone number identifier."
                  },
                  "customerPhoneNumberId": {
                    "type": "string",
                    "description": "Customer phone number identifier."
                  },
                  "triggerData": {
                    "type": "object",
                    "description": "Optional JSON object passed to the workflow when it is triggered.",
                    "additionalProperties": true
                  },
                  "startWithNodeId": {
                    "type": "string",
                    "description": "Optional workflow node identifier to start execution from."
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Workflow triggered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook": {
      "get": {
        "description": "Returns all webhooks for the authenticated account.",
        "security": [
          {
            "bearerAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new webhook subscription.",
        "security": [
          {
            "bearerAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "event"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Callback URL to receive webhook events"
                  },
                  "event": {
                    "type": "string",
                    "description": "Event type to subscribe to.",
                    "enum": [
                      "conversationCreated",
                      "tagChanged",
                      "statusChanged",
                      "messageCreated"
                    ],
                    "x-enum-varnames": [
                      "New Conversation Started",
                      "Conversation Tags Updated",
                      "Conversation Status Updated",
                      "Messages Created"
                    ],
                    "x-enumDescriptions": {
                      "conversationCreated": "New Conversation Started",
                      "tagChanged": "Conversation Tags Updated",
                      "statusChanged": "Conversation Status Updated",
                      "messageCreated": "Messages Created"
                    },
                    "example": "messageCreated"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier of the created webhook"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/{webhookId}": {
      "delete": {
        "description": "Deletes a webhook by ID. Path `webhookId` must be URL-encoded.",
        "security": [
          {
            "bearerAuth": [],
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "Webhook identifier. Must be URL-encoded when used in the path.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConversationTag": {
        "type": "object",
        "required": [
          "id",
          "title",
          "color",
          "associatedTo"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the tag"
          },
          "title": {
            "type": "string",
            "description": "Human-readable tag title"
          },
          "color": {
            "type": "string",
            "description": "Tag color (hex, rgb, or named color)"
          },
          "associatedTo": {
            "type": "string",
            "description": "Business or account the tag is associated with"
          }
        },
        "additionalProperties": false
      },
      "Customer": {
        "type": "object",
        "required": [],
        "properties": {
          "profileImage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Profile image URL if available"
          },
          "customerName": {
            "type": "string",
            "description": "The name from WhatsApp or the originating platform"
          },
          "customerNickname": {
            "type": "string",
            "description": "The name the business gave the customer"
          },
          "description": {
            "type": "string",
            "description": "Free-text note / description controlled by the business (shown in the conversation sidebar)"
          },
          "createdAt": {
            "type": "number",
            "description": "Unix timestamp (milliseconds) when the customer was created"
          },
          "lastActiveAt": {
            "type": "number",
            "description": "Unix timestamp (milliseconds) when the customer was last active"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "platform": {
            "type": "string",
            "enum": [
              "whatsapp",
              "instagram",
              "facebookMessenger"
            ],
            "description": "Messaging platform the customer is associated with"
          },
          "phoneNumberId": {
            "type": "string",
            "description": "Platform-specific phone number identifier"
          },
          "countryCode": {
            "type": "string",
            "description": "Country calling code"
          },
          "associatedTo": {
            "type": "string",
            "description": "Business or account the customer is associated with"
          },
          "parsedPhoneNumber": {
            "type": "string",
            "description": "Normalized phone number if available"
          }
        },
        "additionalProperties": false
      },
      "CreateCustomer": {
        "type": "object",
        "required": [
          "customerName",
          "phoneNumberId",
          "countryCode"
        ],
        "properties": {
          "profileImage": {
            "type": [
              "string",
              "null"
            ],
            "description": "Profile image URL if available, if not provided we try and find a matching profile picture for that phone number."
          },
          "customerName": {
            "type": "string",
            "description": "Customer full name"
          },
          "customerNickname": {
            "type": "string",
            "description": "Custom name to identify the customer in the business (not seen by the end user)"
          },
          "description": {
            "type": "string",
            "description": "Free-text note / description controlled by the business (shown in the conversation sidebar)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "phoneNumberId": {
            "type": "string",
            "description": "Phone number identifier including country code. (9725xxxxxxxx)"
          }
        },
        "additionalProperties": false
      },
      "UpdateCustomer": {
        "type": "object",
        "description": "Partial customer update. Include only the fields you want to change.",
        "properties": {
          "customerNickname": {
            "type": "string",
            "description": "Custom name to identify the customer in the business"
          },
          "description": {
            "type": "string",
            "description": "Free-text note / description (shown in the conversation sidebar)"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Editable phone number controlled by the business"
          }
        },
        "additionalProperties": false
      },
      "Task": {
        "type": "object",
        "required": [
          "taskId",
          "title",
          "body",
          "associatedTo",
          "statusCase",
          "unreadCount",
          "agentIdentification",
          "createdAt",
          "updatedAt",
          "dueDate",
          "isRecurring"
        ],
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Unique task identifier."
          },
          "title": {
            "type": "string",
            "description": "Task title."
          },
          "body": {
            "type": "string",
            "description": "Task description / notes."
          },
          "associatedTo": {
            "type": "string",
            "description": "Business or account the task is associated with."
          },
          "statusCase": {
            "type": "string",
            "description": "Task status. Built-in values are `open`, `standby` (in progress), and `completed`. Custom task status IDs defined for the business are also accepted."
          },
          "unreadCount": {
            "type": "integer",
            "description": "Needs-attention counter. Starts at 1 on create and increments on every update."
          },
          "agentIdentification": {
            "$ref": "#/components/schemas/AgentIdentification"
          },
          "assignedAgentIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Agent IDs assigned to this task."
          },
          "viewedByAgentIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Agent IDs that have viewed this task."
          },
          "createdAt": {
            "type": "number",
            "description": "Unix timestamp (seconds) when the task was created."
          },
          "updatedAt": {
            "type": "number",
            "description": "Unix timestamp (seconds) when the task was last updated."
          },
          "dueDate": {
            "type": "number",
            "description": "Unix timestamp (seconds) for the due date. `0` when unset."
          },
          "isRecurring": {
            "type": "boolean",
            "description": "Whether the task repeats."
          },
          "recurringAtDate": {
            "type": "number",
            "description": "Unix timestamp (seconds) of the next recurrence. `0` when unset."
          },
          "phoneNumberId": {
            "type": "string",
            "description": "Business phone number identifier used to scope the task."
          },
          "participantsIdentifiers": {
            "type": "string",
            "description": "Conversation participants identifiers this task is linked to."
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          }
        },
        "additionalProperties": false
      },
      "UpdateTask": {
        "type": "object",
        "description": "Partial task update. Include only the fields you want to change. `unreadCount`, `updatedAt`, and `agentIdentification` are set by the server.",
        "properties": {
          "title": {
            "type": "string",
            "description": "Task title."
          },
          "body": {
            "type": "string",
            "description": "Task description / notes."
          },
          "statusCase": {
            "type": "string",
            "description": "Task status. Built-in values are `open`, `standby` (in progress), and `completed`. Custom task status IDs defined for the business are also accepted."
          },
          "assignedAgentIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Agent IDs assigned to this task. Replaces the full assignment list."
          },
          "viewedByAgentIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Agent IDs that have viewed this task."
          },
          "dueDate": {
            "type": "number",
            "description": "Unix timestamp (seconds) for the due date. `0` to unset."
          },
          "isRecurring": {
            "type": "boolean",
            "description": "Whether the task repeats."
          },
          "recurringAtDate": {
            "type": "number",
            "description": "Unix timestamp (seconds) of the next recurrence. `0` to unset."
          },
          "participantsIdentifiers": {
            "type": "string",
            "description": "Conversation participants identifiers this task is linked to."
          },
          "phoneNumberId": {
            "type": "string",
            "description": "Business phone number identifier used to scope the task."
          }
        },
        "additionalProperties": false
      },
      "Conversation": {
        "type": "object",
        "required": [
          "platformCompositionKey",
          "associatedTo",
          "participantsIdentifiers",
          "phoneNumberId",
          "messageWhatsAppId",
          "customerPhoneNumberId",
          "customer",
          "createdAt",
          "updatedAt",
          "unreadCount",
          "statusCase",
          "answerMode"
        ],
        "properties": {
          "platformCompositionKey": {
            "type": "string",
            "description": "Platform and phone/page identifier (e.g. whatsapp#<phoneNumberId>)."
          },
          "associatedTo": {
            "type": "string",
            "description": "Business or account the conversation is associated with."
          },
          "participantsIdentifiers": {
            "type": "string",
            "description": "Unique identifiers of the conversation participants."
          },
          "lastMessage": {
            "type": "object",
            "description": "Last message exchanged in the conversation."
          },
          "phoneNumberId": {
            "type": "string",
            "description": "Business phone number identifier."
          },
          "messageWhatsAppId": {
            "type": "string",
            "description": "WhatsApp message identifier."
          },
          "customerPhoneNumberId": {
            "type": "string",
            "description": "Customer phone number identifier."
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "createdAt": {
            "type": "number",
            "description": "Unix timestamp (milliseconds) when the conversation was created."
          },
          "updatedAt": {
            "type": "number",
            "description": "Unix timestamp (milliseconds) when the conversation was last updated."
          },
          "unreadCount": {
            "type": "integer",
            "description": "Number of unread messages in the conversation."
          },
          "assignedTagIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of assigned conversation tag IDs."
          },
          "assignedAgentIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of assigned agent IDs."
          },
          "lastWorkflowExecutionId": {
            "type": "string",
            "description": "Identifier of the last workflow execution."
          },
          "lastWorkflowExecution": {
            "type": "object",
            "description": "Last workflow execution data."
          },
          "aiFeatures": {
            "type": "object",
            "properties": {
              "autoTranslation": {
                "type": "object",
                "description": "Automatic translation configuration."
              }
            },
            "additionalProperties": false
          },
          "ai": {
            "type": "object",
            "properties": {
              "tokensUsed": {
                "type": "number",
                "description": "Number of AI tokens used."
              }
            },
            "additionalProperties": false
          },
          "statusCase": {
            "type": "string",
            "description": "Conversation status.",
            "enum": [
              "open",
              "closed",
              "standby"
            ]
          },
          "answerMode": {
            "type": "string",
            "description": "Conversation answer mode.",
            "enum": [
              "bot",
              "manual",
              "ai"
            ]
          },
          "lastSendMessageFromUser": {
            "type": "number",
            "description": "Unix timestamp (milliseconds) of the last message sent by the user."
          },
          "isOptoutFromMarketingMessages": {
            "type": "boolean",
            "description": "Indicates whether the customer opted out of marketing messages."
          }
        },
        "additionalProperties": false
      },
      "UserPublic": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "associatedTo": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "WhatsAppMessageContext": {
        "type": "object",
        "description": "Reply context for a WhatsApp message",
        "properties": {
          "from": {
            "type": "string",
            "description": "Original sender phone number ID"
          },
          "id": {
            "type": "string",
            "description": "Original message ID"
          }
        },
        "additionalProperties": false
      },
      "MessageBase64Attachment": {
        "type": "object",
        "description": "Base64-encoded media attachment metadata",
        "properties": {
          "resourceId": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "fileMimeType": {
            "type": "string"
          },
          "fileSize": {
            "type": "number"
          },
          "fileType": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "FileMetadata": {
        "type": "object",
        "description": "Attachment file metadata",
        "additionalProperties": false
      },
      "AITranslation": {
        "type": "object",
        "description": "AI translation payload for the message",
        "additionalProperties": false
      },
      "WhatsAppErrorMessage": {
        "type": "object",
        "description": "WhatsApp / platform error details when sending failed",
        "additionalProperties": false
      },
      "AgentIdentification": {
        "type": "object",
        "description": "Agent who sent or handled the message",
        "additionalProperties": false
      },
      "SocialComment": {
        "type": "object",
        "description": "Social (e.g. Instagram/Facebook) comment payload",
        "additionalProperties": false
      },
      "MessageReaction": {
        "type": "object",
        "description": "Single reaction on the message",
        "additionalProperties": false
      },
      "RichContent": {
        "type": "object",
        "description": "Structured rich content (buttons, lists, etc.)",
        "additionalProperties": false
      },
      "Message": {
        "type": "object",
        "description": "A prepared message returned by getMessages",
        "required": [
          "messageId",
          "createdAt",
          "sender",
          "receiver",
          "initiator",
          "status",
          "updatedAt",
          "participantsIdentifiers",
          "message",
          "type",
          "messagePlatform",
          "creationPlatform",
          "associatedTo",
          "messageDirection"
        ],
        "properties": {
          "messageId": {
            "type": "string",
            "description": "Unique message ID"
          },
          "createdAt": {
            "type": "number",
            "description": "Created at (Unix milliseconds)"
          },
          "sender": {
            "type": "string",
            "description": "Sender identifier (e.g. phone number ID)"
          },
          "receiver": {
            "type": "string",
            "description": "Receiver identifier"
          },
          "initiator": {
            "type": "string",
            "description": "Who initiated the message (`Initiator`, e.g. person, bot, ai)"
          },
          "status": {
            "type": "string",
            "description": "WhatsApp / platform delivery status (`WhatsAppMessageStatus`)"
          },
          "updatedAt": {
            "type": "number",
            "description": "Last update (Unix milliseconds)"
          },
          "participantsIdentifiers": {
            "type": "string",
            "description": "Stable conversation participant key"
          },
          "message": {
            "type": "string",
            "description": "Message body text"
          },
          "type": {
            "type": "string",
            "description": "Message type (`MessageType`)"
          },
          "messagePlatform": {
            "type": "string",
            "description": "Platform the message was sent on (`PlatformType`)"
          },
          "creationPlatform": {
            "type": "string",
            "description": "Platform where the message was created (`PlatformType`)"
          },
          "associatedTo": {
            "type": "string",
            "description": "Business / account association"
          },
          "messageDirection": {
            "type": "string",
            "description": "Direction relative to the business (`MessageDirection`)"
          },
          "hasReaction": {
            "type": "boolean",
            "description": "Whether the message has reactions"
          },
          "hasAttachment": {
            "type": "boolean",
            "description": "Whether the message includes media"
          },
          "translation": {
            "$ref": "#/components/schemas/AITranslation"
          },
          "error": {
            "$ref": "#/components/schemas/WhatsAppErrorMessage"
          },
          "agentIdentification": {
            "$ref": "#/components/schemas/AgentIdentification"
          },
          "context": {
[...]
